<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX & Go - Demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="container">
    <div class="row mt-4 g-4">
      <div class="col-8">
        <h1 class="mb-4">Biometrics</h1>

        <table class="table table-striped table-hover" id="biometrics-table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Sys</th>
              <th scope="col">Dia</th>
              <th scope="col">BP</th>
              <th scope="col">Weight Total</th>
              <th scope="col">Weight Fat</th>
              <th scope="col">Weight Muscle</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Biometrics }} {{ block "biometrics-list-element" .}}
            <tr>
              <td>{{ .Date }}</td>
              <td>{{ .Time}}</td>
              <td>{{ .Sys }}</td>
              <td>{{ .Dia }}</td>
              <td>{{ .Bp }}</td>
              <td>{{ .Weight_total }}</td>
              <td>{{ .Weight_fat }}</td>
              <td>{{ .Weight_muscle }}</td>
              <td>{{ .Comment }}</td>
            </tr>
            {{ end }} {{ end }}
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <h1 class="mb-4">Add Biometric</h1>

        <form
          hx-post="/add-biometric/"
          hx-target="#biometrics-table"
          hx-swap="beforeend"
          hx-indicator="#spinner"
        >
          <div class="mb-2">
            <label for="biometric-date">Date</label>
            <input
              type="date"
              name="date"
              id="biometric-date"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <label for="biometric-time">Time</label>
            <input
              type="time"
              name="time"
              id="biometric-time"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <label for="biometric-sys">Sys</label>
            <input
              type="text"
              name="sys"
              id="biometric-sys"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="biometric-dia">Dia</label>
            <input
              type="text"
              name="dia"
              id="biometric-dia"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="biometric-bp">BP</label>
            <input
              type="text"
              name="bp"
              id="biometric-bp"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="biometric-weight-total">Weight Total</label>
            <input
              type="text"
              name="weight_total"
              id="biometric-weight-total"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="biometric-weight-fat">Weight Fat</label>
            <input
              type="text"
              name="weight_fat"
              id="biometric-weight-fat"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="biometric-weight-muscle">Weight Muscle</label>
            <input
              type="text"
              name="weight_muscle"
              id="biometric-weight-muscle"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="biometric-comment">Comment</label>
            <textarea
              type="text"
              name="comment"
              id="biometric-comment"
              class="form-control"
            />Enter comment here</textarea>
          </div>

          <button type="submit" class="btn btn-primary">
            <span
              class="spinner-border spinner-border-sm htmx-indicator"
              id="spinner"
              role="status"
              aria-hidden="true"
            ></span>
            Submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
